# car price prediction using machine learning( task_03)

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('car data.csv')

In [3]:
df.head()

,Car_Name,Year,Selling_Price,Present_Price,Driven_kms,Fuel_Type,Selling_type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

# find the null value

In [4]:
df.isnull().sum()

Car_Name         0
Year             0
Selling_Price    0
Present_Price    0
Driven_kms       0
Fuel_Type        0
Selling_type     0
Transmission     0
Owner            0
dtype: int64

In [5]:
df.Selling_Price  .describe()

count    301.000000
mean       4.661296
std        5.082812
min        0.100000
25%        0.900000
50%        3.600000
75%        6.000000
max       35.000000
Name: Selling_Price, dtype: float64

In [6]:
df=df.drop(["Car_Name","Year"],axis=1)

In [7]:
df.head()

,Selling_Price,Present_Price,Driven_kms,Fuel_Type,Selling_type,Transmission,Owner
0,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [8]:
df["Fuel_Type"].unique()

array(['Petrol', 'Diesel', 'CNG'], dtype=object)

In [9]:
df["Selling_type"].unique()

array(['Dealer', 'Individual'], dtype=object)

In [10]:
df["Transmission"].unique()

array(['Manual', 'Automatic'], dtype=object)

In [11]:
from sklearn.preprocessing import LabelEncoder

In [12]:
le=LabelEncoder()

In [13]:
df.Fuel_Type=le.fit_transform(df.Fuel_Type)

In [14]:
df.head()

,Selling_Price,Present_Price,Driven_kms,Fuel_Type,Selling_type,Transmission,Owner
0,3.35,5.59,27000,2,Dealer,Manual,0
1,4.75,9.54,43000,1,Dealer,Manual,0
2,7.25,9.85,6900,2,Dealer,Manual,0
3,2.85,4.15,5200,2,Dealer,Manual,0
4,4.60,6.87,42450,1,Dealer,Manual,0

In [15]:
df["Fuel_Type"].unique()

array([2, 1, 0])

In [16]:
df.Selling_type=le.fit_transform(df.Selling_type)

In [17]:
df.head()

,Selling_Price,Present_Price,Driven_kms,Fuel_Type,Selling_type,Transmission,Owner
0,3.35,5.59,27000,2,0,Manual,0
1,4.75,9.54,43000,1,0,Manual,0
2,7.25,9.85,6900,2,0,Manual,0
3,2.85,4.15,5200,2,0,Manual,0
4,4.60,6.87,42450,1,0,Manual,0

In [18]:
df["Selling_type"].unique()

array([0, 1])

In [19]:
df.Transmission=le.fit_transform(df.Transmission)

In [20]:
df.head()

,Selling_Price,Present_Price,Driven_kms,Fuel_Type,Selling_type,Transmission,Owner
0,3.35,5.59,27000,2,0,1,0
1,4.75,9.54,43000,1,0,1,0
2,7.25,9.85,6900,2,0,1,0
3,2.85,4.15,5200,2,0,1,0
4,4.60,6.87,42450,1,0,1,0

In [21]:
df["Transmission"].unique()

array([1, 0])

In [22]:
x=df.drop('Selling_Price',axis=1)

In [23]:
x.head()

   Present_Price  Driven_kms  Fuel_Type  Selling_type  Transmission  Owner
0           5.59       27000          2             0             1      0
1           9.54       43000          1             0             1      0
2           9.85        6900          2             0             1      0
3           4.15        5200          2             0             1      0
4           6.87       42450          1             0             1      0

In [24]:
y=df['Selling_Price']

In [25]:
y.head()

0    3.35
1    4.75
2    7.25
3    2.85
4    4.60
Name: Selling_Price, dtype: float64

# Train the model

In [26]:
from sklearn.model_selection import train_test_split

In [27]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3)

In [28]:
x_train.shape

(210, 6)

In [29]:
y_test.shape

(91,)

In [30]:
df.shape

(301, 7)

# using LinearRegreesion  model

In [31]:
from sklearn.linear_model import LinearRegression

In [32]:
model=LinearRegression()

In [33]:
model.fit(x_train,y_train)

LinearRegression()

In [34]:
model.predict(x_test)

array([ 1.52431552,  7.87663942,  9.02159758, -1.8949072 ,  5.44565155,
        0.755893  ,  0.58362029,  5.42810409,  3.96934765,  2.41873408,
        4.13439487,  9.70895354,  0.77714789,  4.79744005,  5.37520433,
        2.89459117, 10.05823252,  7.25390413,  0.8481713 ,  7.44052021,
        4.23134067,  1.22436078,  8.20209721, 50.43393154, -0.21349455,
        1.90489691,  5.48153556,  6.34763465,  5.06977509,  5.81328607,
        0.90121546,  3.22892611,  2.13613998,  7.6170019 ,  2.99713121,
       -2.07246571,  2.90371082,  5.27052093,  1.73361862,  4.40790228,
        9.9930294 ,  4.074096  , 11.998602  ,  4.07804927, 12.36561561,
       12.79151861,  9.70321835,  3.45792818,  5.01523197,  4.82486692,
        0.26580173,  6.2336747 , -2.642696  , 22.68471277,  1.25632131,
        8.86123646, -1.81684847,  0.80202842,  7.50766015,  5.17303565,
        5.18664601,  0.65460646,  0.66346577,  7.40073049,  0.60666194,
        3.17297743,  1.11249892,  1.66497842,  8.12557645, 17.94054192,
        3.75819909,  0.85539278,  0.79132279,  7.93381326, -0.65806612,
        4.41717112,  1.71851347,  0.11151195, 13.76319916,  5.43546047,
        4.72592588,  7.02501374,  4.89581759,  0.3564422 ,  3.21736706,
        4.09663877,  1.34317606,  5.21630085,  5.00242543,  3.96496254,
        3.15644987])

In [35]:
model.score(x_test,y_test)

0.789034997779482

In [36]:
model.score(x_train,y_train)

0.8441098787153641

# Here over fitting problem is occuring because of accuracy of train data > test data

# Using L1 regularization(Lasso regression)

In [37]:

from sklearn.linear_model import Lasso
lasso_model=Lasso(alpha=10,max_iter=100,tol=0.1)

In [38]:
lasso_model.fit(x_train,y_train)

Lasso(alpha=10, max_iter=100, tol=0.1)

In [39]:
lasso_model.score(x_test,y_test)

0.791634266998785

# Using L2 regularization(Ridge regression)

In [40]:
from sklearn.linear_model import Ridge

In [41]:
ridge_model=Ridge(alpha=1,max_iter=100,tol=0.1)

In [42]:
ridge_model.fit(x_train,y_train)

Ridge(alpha=1, max_iter=100, tol=0.1)

In [43]:
ridge_model.score(x_test,y_test)

0.7892682473741104

# Here we are getting more accuracy in L1 regularization (Lasso) than other model so  we can use this model as for car price  prediction